@media only screen and (max-device-width : 480px) {
    
    .coin-app{
        background-color: white;
        color:black;
    }

    a{
        color: whitesmoke;
    }
}
@media only screen and (min-width : 1224px) {

    .coin-app{
        color: black;
    }

    a{
        color: black;
    }

}

